body{
    margin: 0px;
    height: 4332px;
    background-color: #FFFFFF;
    font-family: 'Circular Std', sans-serif;
    color: black;
    font-weight: bold;
    overflow-x: hidden;
}
.title{
    width: 82%;
    margin-left: 128px;
    justify-content: space-between; 
    padding-top: 32px;
    display: inline-flex; 
    >.menu{
        display: none;
    }
    >.logo{
        height: 40px;
        display: flex;
        gap: 16px;
        padding-top: 4.5px;
        >text{
            font-size: 24px;
            line-height: 40px;
            color: black;
        }
    }
    >.Categories{
        padding-top: 16px;
        gap: 64px;
        height: 17px;
        display: flex;
        font-size: 13px;
        line-height: 16.8px;
        color: #19182580;
        :first-child{
            color: black;
        }
    }
    >.autorisation{
        height: 49px;
        display: inline-flex;
        >.text{
            width: 105px;
            padding-top: 16px;
            padding-left: 30px;
            padding-bottom: 16px;
            padding-right: 30px;
            font-size: 14px;
            line-height: 16.8px;
            height: 49px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;
        }
        >button{
            font-size: 14px;
            line-height: 16.8px;
            background-color: #5D50C6;
            width: 115px;
            height: 49px;
            padding-top: 16px;
            padding-left: 30px;
            padding-bottom: 16px;
            padding-right: 30px;
            color: #EEEEEE;
            border-radius: 100px;
            border: 0px;
            font-weight: bold;
        }
    }
}
.block1{
    width: 1184px;
    height: 841px;
    margin-left: 128px;
    padding: 64px 0px;
    display: flex;
    align-items: center;
    >.imgs{
        width: 772px;
        height: 713px;
        border: 0px;
        border-radius: 100px;
        >.back{
            width: 772px;
            height: 287.383px;
            flex-shrink: 0;
            >img{
                width: 772px;
                height: 287.383px;
            }
        }
        >.group{
            display: inline-flex;
            align-items: center;
            gap: 31px;
            width: 575px;
            height: 632px;
            position: absolute;
            left: 630px;
            top: 290px;
            >.left{
                width: 272px;
                height: 632px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                >.img1{
                    width: 272px;
                    height: 300px;
                    border-radius: 32px;
                   
                }
            }
            >.right{
                width: 272px;
                height: 400px;
                border-radius: 32px;
                background: url(img/Rectangle3.png);
            }
        }
    }
    
    >.text{
        width: 412px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 43px;
        flex: 1 0 0;
        >.top{
            flex-direction: column;
            display: flex;
            gap: 43px;
            >.up{
                flex-direction: column;
                display: flex;
                gap: 43px;
                >.button{
                    border-radius: 100px;
                    display: flex;
                    background: #FFF;
                    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 34px 75px 0px rgba(0, 0, 0, 0.07), 0px 137px 137px 0px rgba(0, 0, 0, 0.06), 0px 308px 185px 0px rgba(0, 0, 0, 0.04), 0px 548px 219px 0px rgba(0, 0, 0, 0.01), 0px 856px 240px 0px rgba(0, 0, 0, 0.00);
                    padding: 16px 32px;
                    align-items: center;
                    gap: 16px;
                    color: var(--Secondary, #F85E9F);
                    font-size: 14px;
                    line-height: 16.8px;
                    width: 163px;
                }
                >.texttitle{
                    width: 412px;
                    font-size: 69px;
                    line-height: 82.8px;
                }
            }
            >.text{
                width: 400px;
                height: 87px;
                font-size: 18px;
                line-height: 28.8px;
                color: #19182580;
                font-weight: normal;
            }
        }
        >.twobuttons{
            gap: 16px;
            width: 338px;
            display: inline-flex;
            font-size: 14px;
            >.left{
                display: flex;
                padding: 16px 32px;
                align-items: flex-start;
                gap: 8px;
                border: 0px;
                color: #EEEEEE;
                align-items: center;
                border-radius: 100px;
                background: var(--Primary, #5D50C6);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
            }
            >.right{
                display: flex;
                padding: 16px 32px;
                align-items: center;
                gap: 8px;
                border-radius: 100px;
                border: 1px solid var(--Light, #EEE);
                background: var(--white, #FFF);
            }
        }
    }
}

.purple_mail{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    left: 594px;
    top: 544px;
    padding: 16px;
    background: #F85E9F;
    box-shadow: 0px 77px 31px rgba(0, 0, 0, 0.01), 0px 43px 26px rgba(0, 0, 0, 0.05), 0px 19px 19px rgba(0, 0, 0, 0.09);
    border-radius: 100px;
}
.add_contact{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    padding: 16px;
    left: 1006px;
    top: 860px;
    background: #FF5722;
    box-shadow: 0px 77px 31px rgba(0, 0, 0, 0.01), 0px 43px 26px rgba(0, 0, 0, 0.05), 0px 19px 19px rgba(0, 0, 0, 0.09);
    border-radius: 100px;
}
.topplace{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 16px 32px;
    border-radius: 100px;
    box-shadow: 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0.00);
    background: var(--white, #FFF);
    top: 690px;
    left: 1130px;
    position: absolute;
}
.triangles{
    position: absolute;
    height: 169.949px;
    flex-shrink: 0;
    width: 65px;
    top: 892px;
    left: 65px;
}
.gradient_yellow{
    height: 500px;
    flex-shrink: 0;
    border-radius: 500px;
    opacity: 0.5;
    background: var(--Yellow, #FACD49);
    filter: blur(250px);
    width: 500px;
    position: absolute;
    left: 1360px;
    top: 900px;
    z-index: 1;
}
.block2{
    display: flex;
    padding: 64px 0px;
    gap: 110px;
    align-items: flex-start;
    width: 1184px;
    margin-left: 128px;
    >.top{
        gap: 110px;
        align-items: flex-start;
        display: flex;
    }
    >.bot{
        gap: 110px;
        align-items: flex-start;
        display: flex;
    }
}
.block3{
    width: 1536px;
    padding: 64px 0px;
    align-items: center;
    display: flex;
    margin-left: 128px;
    position: relative;
    z-index: 2;
    >.text{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
        display: flex;
        width: 444px;
        >.top{
            align-self: stretch;
            font-size: 23px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 4.6px;
            text-transform: uppercase;
            color: var(--Secondary, #F85E9F);
            width: 444px;
        }
        >.bot{
            align-self: stretch;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            color: var(--Grey-Scale-Black, #191825);
        }
    }
    >.Categories{
        width: 1092px;
        align-items: flex-start;
        gap: 21px;
        flex-shrink: 0;
        display: flex;
        .text{
            flex-direction: column;
            align-items: center;
            gap: 32px;
            align-self: stretch;
            display: flex;
            >.toptext{
                align-self: stretch;
                text-align: center;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                color: var(--Grey-Scale-Black, #191825);
                line-height: 120%;
            }
            >.bottext{
                align-self: stretch;
                text-align: center;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                color: var(--Grey-Scale-Black-50, rgba(25, 24, 37, 0.50));
            }
        }
        >.element{
            height: 300px;
            padding: 64px;
            flex-direction: column;
            align-items: center;
            gap: 64px;
            flex: 1 0 0;
            border-radius: 32px;
            border: 1px solid rgba(25, 24, 37, 0.10);
            background: #FFF;
            display: flex;
           
        }
        >.element2{
            height: 300px;
            padding: 64px;
            flex-direction: column;
            align-items: center;
            gap: 64px;
            flex: 1 0 0;
            border-radius: 32px;
            background: #FFF;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 41px 89px 0px rgba(0, 0, 0, 0.10);
            display: flex;
           
        }
    }
}
.block4{
    width: 1184px;
    padding: 64px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    display: flex;
    margin-left: 128px;
    >.text{
        flex-direction: row;
        gap: 16px;
        flex: 1 0 0;
        display: flex;
        width: 1184px;
        >.left{
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex: 1 0 0;
            display: flex;
            >.top{
                font-size: 23px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; 
                width: 952px;
                letter-spacing: 4.6px;
                align-self: stretch;
                text-transform: uppercase;
                color: var(--Secondary, #F85E9F);
            }
            >.bot{
                width: 952px;
                color: var(--Grey-Scale-Black, #191825);
                font-size: 44px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                align-self: stretch;
            }
        }
        >.right{
            align-items: flex-start;
            gap: 32px;
            display: flex;
            >.pointer_white{
                width: 96.4px;
                flex-shrink: 0;
                border-radius: 100px;
                border: 1px solid var(--Grey-Scale-Black-10, rgba(25, 24, 37, 0.10));
                background: var(--white, #FFF);
                height: 96.4px;
                align-items: center;
                justify-content: center;
                display: flex;
            }
            >.pointer_blue{
                width: 96.4px;
                height: 96.4px;
                flex-shrink: 0;
                border-radius: 100px;
                align-items: center;
                justify-content: center;
                display: flex;
                background: var(--Primary, #5D50C6);
                
            }
        }
    }
    >.Categories{
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
        display: flex;
        width: 1184px;
        
        >div{
            height: 575px;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
            display: flex;
            >img{
                align-self: stretch;
                border-radius: 32px 32px 0px 0px;
                flex: 1 0 0;
            }
            >.text{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                align-self: stretch;
                border-radius: 0px 0px 32px 32px;
                background: #FFF;
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 32px 71px 0px rgba(0, 0, 0, 0.05), 0px 128px 128px 0px rgba(0, 0, 0, 0.04), 0px 288px 173px 0px rgba(0, 0, 0, 0.03), 0px 513px 205px 0px rgba(0, 0, 0, 0.01), 0px 801px 224px 0px rgba(0, 0, 0, 0.00);
                padding: 32px;
                >.up{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    align-self: stretch;
                    >.top{
                        font-size: 23px;
                        display: inline-flex;
                        justify-content: space-between;
                        width: 309px;
                        >.left{
                            color: var(--Grey-Scale-Black, #191825);
                            flex: 1 0 0;
                        }
                        >.right{
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%;
                            color: var(--Secondary, #F85E9F);
                        }
                    }
                    >.bot{
                        width: 309px;
                        height: 28px;
                        font-size: 18px;
                        font-weight: 400;
                        font-style: normal;
                        color: var(--Grey-Scale-Black-75, rgba(25, 24, 37, 0.75));
                        line-height: 160%; 
                    }
                }
                >.down{
                    align-items: center;
                    gap: 8px;
                    width: 66px;
                    height: 28px;
                    font-size: 23px;
                    color: #FF5722;
                    display: flex;
                }
            }
        }
    }
}
.block5{
    width: 1312px;
    padding: 64px 0px;
    align-items: flex-end;
    display: flex;
    >.text{
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
        width: 441px;
        display: flex;
        >.top{
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            align-self: stretch;
            display: flex;
            >.up{
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                align-self: stretch;
                display: flex;
                >.toptext{
                    font-size: 23px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; 
                    letter-spacing: 4.6px;
                    text-transform: uppercase;
                    align-self: stretch;
                    color: var(--Secondary, #F85E9F);
                }
                >.bottext{
                    color: var(--Grey-Scale-Black, #191825);
                    align-self: stretch;
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                }
            }
            >.down{
                color: var(--Grey-Scale-Black-50, rgba(25, 24, 37, 0.50));
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                align-self: stretch;
                width: 400px;
            }
        }
        >.bottom{
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            align-self: stretch;
            width: 441px;
            display: flex;
            >.left_text_element{
                align-items: flex-start;
                gap: 32px;
                align-self: stretch;
                display: flex;
                >.div{
                    width: 140px;
                    padding: 32px;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    flex: 1 0 0;
                    border-radius: 32px;
                    border: 1px solid var(--Grey-Scale-Black-10, rgba(25, 24, 37, 0.10));
                    background: var(--white, #FFF);
                    display: flex;
    
                    >.top{
                        color: var(--Orange, #FF5722);
                        font-size: 35px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; 
                    }
                    >.bot{
                       font-size: 18px;
                       font-style: normal;
                       font-weight: 400;
                       line-height: 160%;
                       color: var(--Grey-Scale-Black, #191825);
                    }
                }    
            }  
        }
    }
}
.boxstar{
    position: absolute;
    top: 2915px;
    left: 1145px;
}
.block6{
    width: 1312px;
    padding: 64px 0px;
    align-items: flex-start;
    gap: 70px;
    display: flex;
    margin-left: 128px;
    >.left{
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
        flex: 1 0 0;
        display: flex;
        >.top{
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            align-self: stretch;
            display: flex;
            >.toptext{
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                align-self: stretch;
                display: flex;
                >.up{
                    font-size: 23px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    letter-spacing: 4.6px;
                    text-transform: uppercase;
                    color: var(--Secondary, #F85E9F);
                }
                >.down{
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; 
                    color: var(--Grey-Scale-Black, #191825);
                }
            }
            >.bottext{
                width: 488px;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                color: var(--Grey-Scale-Black-50, rgba(25, 24, 37, 0.50));
            }
        }
        >.bot{
            
            >.element{
                padding: 32px;
                align-items: center;
                gap: 32px;
                align-self: stretch;
                display: flex;
                >.img1{
                    height: 100px;
                    flex-shrink: 0;
                    border-radius: 32px;
                    background: var(--Orange, #FF5722);
                    width: 100px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
                >.img3{
                    height: 100px;
                    flex-shrink: 0;
                    border-radius: 32px;
                    background: var(--Secondary, #F85E9F);
                    width: 100px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
                >.text{
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    flex: 1 0 0;
                    display: flex;
                    >.toptext{
                        font-size: 23px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; 
                        color: var(--Grey-Scale-Black, #191825);
                    }
                    >.bottext{
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%; 
                        color: var(--Grey-Scale-Black-50, rgba(25, 24, 37, 0.50));
                    }
                }
            }
            >.element2{
                padding: 32px;
                align-items: center;
                gap: 32px;
                align-self: stretch;
                border-radius: 32px;
                border: 1px solid var(--Grey-Scale-Black-10, rgba(25, 24, 37, 0.10));
                background: var(--white, #FFF);
                display: flex;
                >.img2{
                    height: 100px;
                    flex-shrink: 0;
                    border-radius: 32px;
                    background: var(--Yellow, #FACD49);
                    width: 100px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
                >.text{
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    flex: 1 0 0;
                    display: flex;
                    >.toptext{
                        font-size: 23px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; 
                        color: var(--Grey-Scale-Black, #191825);
                    }
                    >.bottext{
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%; 
                        color: var(--Grey-Scale-Black-50, rgba(25, 24, 37, 0.50));
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    body{
        height: 6685px;
        margin-left: 0px; 
    }
    .gradient_red{
        width: 500px;
        height: 500px;
        border-radius: 500px;
        opacity: 0.5;
        background: var(--Orange, #FF5722);
        filter: blur(250px);
        flex-shrink: 0;
        position: absolute;
        top: -223px;
        left: -356px;
    }
    .title{
        width: 896px;
        align-items: center;
        margin-left: 64px;
        padding: 32px 0px;
        >.menu{
            display: flex;
        }
        >.Categories{
            display: none;
        }
    }
    .block1{
        width: 896px;
        height: 1320px;
        margin-left: 64px;
        padding: 64px 0px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 64px;
        >.imgs{
            >.group{
                left: 210px;
                top: 257px;
            }
        } 
        >.text{
            width: 896px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 43px;
            align-self: stretch;
            justify-content: center;
            >.top{
                align-items: center;
                justify-content: center;
                >.up{
                    align-items: center;
                    justify-content: center;
                    >.texttitle{
                        width: 750px;
                        height: 164px;
                        text-align: center;
                    }
                }
                >.text{
                    width: 896px;
                    text-align: center;
                }
            }
        }
    }
    .add_contact{
        left: 586px; 
        top: 827px; 
    }
    .purple_mail{
        left: 174px; 
        top: 511px; 
    }
    .topplace{
        top: 657px; 
        left: 710px; 
    }
    .triangles{
        top: 1350px;
        left: 65px;
    }
    .gradient_yellow{
        left: 900px;
        top: 1400px;
    }    
    .block2{
        width: 750px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        >.top{
            align-items: flex-start;
            gap: 27px;
        }
        >.bot{
            align-items: flex-start;
            gap: 26px;
        }
    }
    .block3{
        margin-left: 64px;
        width: 896px;
        align-items: flex-start;
        gap: 64px;
        flex-direction: column;
        justify-content: center;
        >.text{
            justify-content: center;
            gap: 16px;
            width: 896px;
            align-items: center;
            align-self: stretch;
            >.toptext{
                width: 896px;
                text-align: center;
            }
            >.bottext{
                font-size: 40px;
                text-align: center;
            }
        }
        >.Categories{
            width: 896px;
            gap: 16px;
            >.element{
                height: 324px;
            }
            >.element2{
                height: 324px;
            }
        }
    }
    .block4{
        width: 896px;
        gap: 67px;
        display: inline-flex;
        margin-left: 64px;
        >.text{
            flex-direction: column;
            gap: 64px;
            width: 896px;
            justify-content: center;
            align-items: center;
            >.left{
                align-self: stretch;
                flex-direction: column;
                >.top{
                    width: 896px;
                    text-align: center;
                }
                >.bot{
                    width: 896px;
                    font-size: 40px;
                    text-align: center;
                }
            }
            >.right{
                align-items: flex-start;
                gap: 32px;
                display: flex;
                >.pointer_white{
                    width: 96.4px;
                    flex-shrink: 0;
                    border-radius: 100px;
                    border: 1px solid var(--Grey-Scale-Black-10, rgba(25, 24, 37, 0.10));
                    background: var(--white, #FFF);
                    height: 96.4px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
                >.pointer_blue{
                    width: 96.4px;
                    height: 96.4px;
                    flex-shrink: 0;
                    border-radius: 100px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    background: var(--Primary, #5D50C6);
                    
                }
            }
        }
        >.Categories{
            gap: 31px;
            width: 896px;
            >div{
                >img{
                    width: 278px;
                    height: 314px;
                }
                >.text{
                    >.up{
                        >.top{
                            width: 214px;
                            font-size: 23px;
                            display: flex;
                            align-items: flex-start;
                            gap: 8px;
                            align-self: stretch;
                            flex-direction: column-reverse;
                            >.left{
                                width: 214px;
                            }
                            >.right{
                                width: 81px;
                            }
                        }
                        >.bot{
                            width: 214px;
                        }
                    }
                }
            }
        }
    }
    .block5{
        width: 896px;
        padding: 64px 32px;
        align-items: flex-start;
        margin-left: 64px;
        justify-content: flex-end;
        flex-direction: column;
        gap: 64px;
        >img{
            height: 697px;
            width: 871px;
        }
        >.text{
            >.top{
                >.up{
                    >.toptext{
                        text-align: center;
                        width: 832px;
                    }
                    >.bottext{
                        width: 832px;
                        text-align: center;
                        font-size: 40px;
                    }
                }
                >.down{
                    width: 832px;
                    text-align: center;
                }
            }
            >.bottom{
                width: 832px;
                >.leftright{
                    >.div{
                        width: 400px;
                    }    
                }  
            }
        }
    }
    .boxstar{
        display: none;
    }
    .block6{
        width: 896px;
        padding: 64px 32px;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        flex-direction: column-reverse;
        >img{
            height: 869px;
            width: 693px;
        }
        >.left{
            >.top{
                >.toptext{
                    >.up{
                        text-align: center;
                        width: 832px;
                    }
                    >.down{
                        font-size: 40px;
                        text-align: center;
                        width: 832px;
                    }
                }
                >.bottext{
                    text-align: center;
                    width: 832px;
                }
            }
            >.bot{
                width: 832px;
                >.element{
                    width: 832px;
                }
                >.element2{
                    width: 832px;
                }
            }
        }
    }
}
@media (max-width: 767px){
    body{
        height: 7650px;
        margin-left: 0px; 
    }
    .gradient_red{
        display: none;
    }
    .title{
        width: 398px;
        align-items: center;
        margin-left: 40px;
        padding: 32px 0px;
        flex-direction: row-reverse;
        >.menu{
            display: flex;
            height: 48px;
            width: 48px;
        }
        >.logo{
            >img{
                width: 40px;
                height: 40px;
            }
            >text{
                font-size: 24px;
            }
        }
        >.Categories{
            display: none;
        }
        >.righ{
            display: none;
        }
    }
    .block1{
        width: 398px;
        margin-left: 40px;
        padding: 32px 0px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 1030px;
        >.imgs{
            width: 398px;
            align-items: center;
            justify-content: center;
            >.back{
                height: 147px;
                flex-shrink: 0;
                width: 396px;
                >img{
                    height: 147px;
                    width: 396px;
                }
            }
            >.group{
                height: 324px;
                gap: 15px;
                width: 295px;
                left: 84px; 
                top: 187px; 
                >.left{
                    width: 139px;
                    height: 324px;
                    gap: 16.426px;
                    >.img1{
                        background-size: contain;
                        height: 153.997px;
                        width: 139.624px;
                    }
                    >.img2{
                        background-size: contain;
                        height: 153.997px;
                        width: 139.624px;
                    }
                }
                >.right{
                    background-size: contain;
                    height: 205.33px;
                    flex-shrink: 0;
                    width: 139.624px;
                }
            }
        } 
        >.text{
            width: 398px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            align-self: stretch;
            justify-content: center;
            >.top{
                gap: 24px;
                align-items: center;
                >.up{
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    >.texttitle{
                        font-size: 40px;
                        width: 398px;
                        line-height: 120%;
                        text-align: center;
                    }
                }
                >.text{
                    font-size: 16px;
                    line-height: 160%;
                    width: 896px;
                    text-align: center;
                }
            }
            >.twobuttons{
                width: 398px;
                align-items: center;
                justify-content: center;
                gap: 24px;
                align-items: flex-start;
                flex-direction: column;
                >.left{
                    width: 334px;
                    padding: 24px 32px;
                    align-items: flex-start;
                    justify-content: center;
                }
                >.right{
                    width: 334px;
                    padding: 24px 32px;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .add_contact{
        left: 284px; 
        top: 476px; 
        padding: 8px;
        
        >img{
            height: 16px;
            width: 16px;
        }
    }
    .purple_mail{
        left: 69px; 
        top: 320px; 
        padding: 8px;
        >img{
            height: 16px;
            width: 16px;
        }
    }
    .topplace{
        left: 339px;
        top: 398px;  
        padding: 8px;
        font-size: 7.187px;
        >img{
            height: 16px;
            width: 16px;
        }
    }
    .triangles{
        display: none;
    }
    .gradient_yellow{
        display: none;
    }    
    .block2{
        width: 398px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin-left: 40px;
        >.top{
            align-items: flex-start;
            gap: 27px;
            >img{
                height: 20px;
            }
        }
        >.bot{
            align-items: flex-start;
            gap: 26px;
            >img{
                height: 20px;
            }
        }
    }
    .block3{
        margin-left: 40px;
        width: 398px;
        padding: 32px 0px;
        align-items: flex-start;
        gap: 32px;
        flex-direction: column;
        justify-content: center;
        >.text{
            justify-content: center;
            gap: 16px;
            width: 398px;
            align-items: center;
            align-self: stretch;
            >.toptext{
                font-size: 16px;
                width: 398px;
                text-align: center;
            }
            >.bottext{
                font-size: 32px;
                text-align: center;
            }
        }
        >.Categories{
            flex-direction: column;
            width: 398px;
            gap: 16px;
            >.element{
                padding: 32px;
                gap: 32px;
                height: 324px;
                >.toptext{
                    font-size: 24px;
                }
            }
            >.element2{
                padding: 32px;
                gap: 32px;
                height: 324px;
            }
        }
    }
    .block4{
        width: 398px;
        gap: 32px;
        padding: 32px 0px;
        display: inline-flex;
        margin-left: 40px;
        >.text{
            flex-direction: column;
            gap: 32px;
            width: 398px;
            justify-content: center;
            align-items: center;
            >.left{
                gap: 16px;
                align-self: stretch;
                flex-direction: column;
                >.top{
                    width: 398px;
                    text-align: center;
                    font-size: 16px;
                }
                >.bot{
                    width: 398px;
                    font-size: 32px;
                    text-align: center;
                }
            }
            >.right{
                justify-content: space-between;
                gap: 32px;
                display: flex;
                width: 398px;
                >.pointer_white{
                    width: 64px;
                    flex-shrink: 0;
                    border-radius: 100px;
                    border: 1px solid var(--Grey-Scale-Black-10, rgba(25, 24, 37, 0.10));
                    background: var(--white, #FFF);
                    height: 64px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    >img{
                        width: 15.36px;
                    }
                }
                >.pointer_blue{
                    width: 64px;
                    height: 64px;
                    flex-shrink: 0;
                    border-radius: 100px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    background: var(--Primary, #5D50C6);
                    >img{
                        width: 15.36px;
                    }
                }
            }
        }
        >.Categories{
            gap: 32px;
            width: 398px;
            align-items: flex-start;
            flex-direction: column;
            >div{
                >img{
                    height: 575px;
                    width: 398px;
                    height: 314px;
                }
                >.text{
                    >.up{
                        >.toptext{
                            width: 214px;
                            font-size: 23px;
                            display: flex;
                            align-items: flex-start;
                            gap: 8px;
                            align-self: stretch;
                            flex-direction: column-reverse;
                            >.left{
                                width: 214px;
                            }
                            >.right{
                                width: 81px;
                            }
                        }
                        >.bottext{
                            width: 214px;
                            font-size: 18px;
                        }
                    }
                    >.down{
                        >img{
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
    .block5{
        width: 398px;
        padding: 32px 0px;
        align-items: flex-start;
        margin-left: 40px;
        justify-content: flex-end;
        flex-direction: column;
        gap: 64px;
        >img{
            width: 398px;
        }
        >.text{
            width: 398px;
            >.top{
                gap: 32px;
                >.up{
                    gap: 16px;
                    >.toptext{
                        font-size: 16px;
                        text-align: center;
                        width: 398px;
                    }
                    >.bottext{
                        width: 398px;
                        text-align: center;
                        font-size: 32px;
                    }
                }
                >.down{
                    font-size: 16px;
                    width: 398px;
                    text-align: center;
                }
            }
            >.bottom{
                width: 398px;
                gap: 16px;
                >.leftright{
                    flex-direction: column;
                    gap: 16px;
                    >.div{
                        gap: 16px;
                        padding: 32px;
                        width: 334px;
                        >.top{
                            font-size: 35px;
                        }
                        >.bot{
                            font-size: 18px;
                        }
                    }    
                }  
            }
        }
    }
    .boxstar{
        display: none;
    }
    .block6{
        width: 398px;
        padding: 32px;
        align-items: center;
        margin-left: 40px;
        gap: 64px;
        flex-direction: column-reverse;
        >img{
            width: 350px;
        }
        >.left{
            gap: 32px;
            justify-content: center;
                align-items: center;
            >.top{
                gap: 32px;
                >.toptext{
                    gap: 16px;
                    >.up{
                        text-align: center;
                        width: 398px;
                        font-size: 16px;
                    }
                    >.down{
                        font-size: 40px;
                        text-align: center;
                        width: 398px;
                        font-size: 32px;
                    }
                }
                >.bottext{
                    text-align: center;
                    width: 398px;
                    font-size: 16px;
                }
            }
            >.bot{
                width: 334px;
                gap: 8px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                display: flex;
                >.element{
                    flex-direction: column;
                    gap: 32px;
                    padding: 32px;
                    width: 264px;
                    align-items: flex-start;
                }
                >.element2{
                    flex-direction: column;
                    gap: 32px;
                    padding: 32px;
                    width: 264px;
                    align-items: flex-start;
                }
            }
        }
    }
}